<div class="arrow-left">
  <img routerLink="/welcome" src="assets/images/arrow-left-circle.png"> <div style="margin-left: 8px ">Regresar</div>
</div>
<div class="my-referral-content">
  <div class="header">
    <h2>Mis Referidos</h2>
    <div class="calendar">
      <div class="date-range">
      <span class="text-range">Rango de Fechas</span>
      <span class="text-calendar">Del 07 de Febrero, 2023 hasta 08 de Febrero, 2023</span>
      </div>
      <div class="calendar-image"><img class="img-calendar" src="assets/icons/calendar-icon.png"></div>
    </div>
  </div>
  <p class="data-count">3 referidos</p>
  <table>
    <tr>
      <th class="sortable">Fecha de registro</th>
      <th class="sortable">Nombre del referido</th>
      <th class="sortable">Puntos por registro</th>
      <th class="sortable">Puntos por venta</th>
      <th class="sortable">Total de puntos</th>
      <th class="sortable">Estado de referido</th>
    </tr>
    <tr>
      <td>2023-05-10</td>
      <td>Juan Pérez</td>
      <td>10</td>
      <td>20</td>
      <td>30</td>
      <td><span class="accepted">Aceptado</span></td>
    </tr>
    <tr>
      <td>2023-05-12</td>
      <td>María López</td>
      <td>5</td>
      <td>15</td>
      <td>20</td>
      <td><span class="pending">Pendiente</span></td>
    </tr>
    <tr>
      <td>2023-05-15</td>
      <td>Carlos Gómez</td>
      <td>8</td>
      <td>10</td>
      <td>18</td>
      <td><span class="reject">Rechazado</span></td>
    </tr>
  </table>
  <div class="pagination">
    <div class="arrows"><</div>
    <span class="arrow-text">Anterior</span>
    <span class="arrows">1</span>
    <span class="arrows">2</span>
    <span class="arrow-text">Siguiente</span>
    <div class="arrows">></div>
  </div>
</div>
