<div class="main">
  <div class="left-content">
    <div class="main-text">
      <p class="main-title">¡<span>Obten</span> grandes <span>Recompensas</span> por Por los referidos que traigas!</p>
      <span class="span-title">Haz que tus negocios se unan a nuestra comunidad y gana increíbles beneficios con <span style="font-weight: bold">Ahorra más GO</span></span>
      <div class="content-icon-text"><img src="/assets/icons/icon-check.png" alt="image"><div class="content-text">Gana 10 puntos por cada referido exitoso</div></div>
      <div class="content-icon-text"><img src="/assets/icons/icon-check.png" alt="image"><div class="content-text">Gana 3 puntos adicionales por cada compra que haga tu referido</div></div>
      <div class="content-icon-text"><img src="/assets/icons/icon-check.png" alt="image"><div class="content-text">Acceso a nuestra plataforma con información de tus referidos y puntos obtenidos</div></div>
      <button class="refers-button" routerLink="/register">Refiere ahora <img class="icon-arrow " src="assets/icons/icon-arrow.png"></button>
      <p class="final-text">¡Únete ahora mismo y comienza a ganar más! conviértete en uno de nuestros afiliados más exitosos.</p>
    </div>
    <img class="footer-image" src="/assets/images/ahorra-bottom.png" alt="image" >
  </div>
  <div class="image-container">
    <img class="delivery-man-image" src="/assets/images/delivery-man.jpeg" alt="image" >
  </div>
  <footer class="text-footer">Válido solo para Lima metropolitana</footer>
</div>
